// .loginpage{
//     background-color: #616161;
// background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
// /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
// height: 100vh;
// display: flex;
// justify-content: center;
// align-items: center;
// }
.projectpage{
    background-color: #616161;
background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
height: 100vh;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}